#edit_suggestion {
    text-align: center;
}

span#span_hilite{
    background-color: red;
    color:white;
    padding:2px;
}
p#sub_vid_text{
    font-size:.6em;
}
p#sub_vid_text a{
    font-size: 1.3em;
    color: red;
}
p#video_description{
    clear: both;
    text-align: center;
}

div.dealie{
    
    padding-top: 2%;
    background-image: url(/img/crossword.png);
    background-color: rgba(0,0,0,1);
    margin-bottom: 3%;
    padding-bottom: 2%;
}

.flex-video video{
    height: auto;
}


input-group-label p{
    font-size:.5em;
}

input#redo-form{
    display:none;
}
input#submit-form{
    display:none;
}
input#login_submit{
    display:none;
}

div.dealie video.video-clip{
    width:100%;
}

video.video-clip{
    max-width: 100%;
}

.alert-box {
    padding: 2%;
    background: aliceblue;
}

div.alert-box a.close{
    float: right;
}

div.clip_wrapper{
    text-align: center;
}

ul.pagination {
    text-align: center;
}